body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:url(../img/bg.png) repeat;
}

a{
    font-weight: bold;
    
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1{
    display: block;
    text-align: center;
    margin: 100px 0px 26.8px;
    color: red;
    

}
*{
padding: 0;
margin: 0;
}




a {
    text-decoration: none;
    color: honeydew;
}


.container{
  
}
.contact-form{
    display: flex;
    flex-wrap: wrap;
   margin: 0 auto;
    width: 35%;
    border-radius: 5px;
    min-width: 500px;
    align-items: center;
    justify-content: center;
    
}


}

.ava{
    
    
}

.signin{
    width: 100%;
    padding: 80px 0 20px 0;
    background-color: #3B8590;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

form{
    margin-top: 0;
    
}

.user{
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-family: ClementePDac-ExtraLight;
    outline: none;
}

.pass{
    width: 80%;
    background: none;
    border: none;
    border-top: 1px solid white;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-family: ClementePDac-ExtraLight;
    outline: none;
}

.profile-pic{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 35%;
    border-radius: 5px;
    min-width: 500px;
    align-items: center;
    justify-content: center;
    margin-bottom: -50px;
    z-index: 22
    ;
}

.btn{
    margin-top: 20px;
    width: 100%;
    background: #C64444;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-family: ClementePDai-Regular;
    cursor: pointer;
    outline: none;
    
}

.footer{

    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
   margin: 0 auto;
    width: 35%;
    border-radius: 5px;
    min-width: 500px;
    align-items: center;
    justify-content: center
    
}

.btn:hover{
    background-color: green;
    transition:  background-color .5s;
    
}


    
@media screen and (max-width: 736px){
img {
    width: 130px;
}
}
@media screen and (max-width: 600px){
img {
    width: 130px;
}
}
@media screen and (max-width: 568px){
img {
    width: 140px;
}
}



@media screen and (max-width: 1024px){
    .signin {
       display: flex;
    }
    }
    @media screen and (max-width: 1920px){
    .signin {
        padding: 80px 0 30px 0;
    }
    }

@media screen and (max-width: 375px){
.signin {
    margin-top: 100px;
    bottom: -50px;
}
}
@media screen and (max-width: 384px){
.signin {
    margin-top: 100px;
}
}
@media screen and (max-width: 414px){
.signin {
    margin-top: 100px;
    
}
}
@media screen and (max-width: 568px){
.signin {
    margin-top: 100px;
}
}
@media screen and (max-width: 600px){
.signin {
    margin-top: 100px;
}
}
@media screen and (max-width: 667px){
.signin {
    margin-top: 100px;
    padding: 60px 0 10px 0;
}
}
@media screen and (max-width: 736px){
.signin {
    margin-top: 100px;
    padding: 60px 0 10px 0;
}
}
@media screen and (max-width: 768px){
.signin {
    margin-top: 100px;
}
}
@media screen and (max-width: 1024px){
.signin {
    margin-top: 100px;
    
}
}
@media screen and (max-width: 1920px){
.signin {
    padding: 80px 0 30px 0;
}
}

@media screen and (max-width: 667px){
img {
    width: 130px;

}
}
@media screen and (max-width: 736px){
img {
    width: 130px;
}
}

@media screen and (max-width: 667px){
input.user {
    padding: 15px;
    
}
}
@media screen and (max-width: 736px){
input.user {
    padding: 15px;
}
}
@media screen and (max-width: 1920px){
input.user {
    font-size: 20px;
}
}
@media screen and (max-width: 667px){
input.pass {
    padding: 15px;
}
}
@media screen and (max-width: 736px){
input.pass {
    padding: 15px;
}
}
@media screen and (max-width: 1920px){
input.pass {
    font-size: 20px;
}
}